.course-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns per row */
  gap: 10px;
}

.course-card {
  display: flex;
  flex-direction: column;
  background-color: var(--white99);
  /* border: 1px solid #f1f1f3; */
  border: none;
  border-radius: 8px;
  padding: 10px;
}

.course-image {
  width: 40%;
  /* height: auto; */
  border-radius: 8px;
}

.course-detail {
  flex: 1;
}

.course-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.course-description {
  margin-bottom: 10px;
}

.course-instructor,
.course-duration,
.course-level{
  font-size: 14px;
  margin-bottom: 5px;
}

.course-button{
  background-color: var(--white97);
  color: var(--gray15);
  /* border: none; */
  border: var(--white95);
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  /* width: 100%; */
}

.course-button:hover{
  background-color: var(--orange50);
  color: var(--white);
}

/* Responsive styles for max-width: 768px */
@media only screen and (max-width: 768px) {
  .course-cards-container {
    grid-template-columns: repeat(1, 1fr); /* Single column per row */
  }

  .course-image {
    width: 100%; /* Full width for smaller screens */
    margin-bottom: 10px; /* Add margin for better spacing */
  }
}

/* Responsive styles for max-width: 450px */
@media only screen and (max-width: 450px) {
  .course-card {
    padding: 8px; /* Adjust padding for smaller screens */
  }

  .course-title {
    font-size: 18px; /* Decrease font size for smaller screens */
  }

  .course-description,
  .course-instructor,
  .course-duration,
  .course-level {
    font-size: 12px; /* Decrease font size for smaller screens */
  }
}
