
.faq-container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}


.faq-list {
  margin-top: 20px;
}


.faq-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.faq-item.expanded {
  background-color: #e0e0e0;
}

.faq-question {
  font-weight: bold;
  color: #333;
}

.faq-answer {
  display: none;
  margin-top: 10px;
  color: #666;
}

.faq-item.expanded .faq-answer {
  display: block;
}
