.hero-container {
  margin: 4rem;
  padding: 5rem 5rem;
  margin-inline: 15rem;
  padding-top: 5rem;
  padding-right: 5rem;
  top: 0;
  position: fixed;
}
.hero-text {
  background-color: var(--white95);
  border-radius: 5px;
  /* padding: 5rem 5rem; */
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin-right: 5rem;
  margin-left: 5rem;
  align-items: center;
}

.hero-text h1 span {
  background-color: var(--orange95); /* Use custom variable for orange */
  padding: 0.5rem;
  padding-top: 0.1rem;
  /* padding-bottom: 0.2rem; */
  margin: 1rem;
  font-size: 2rem;
  border-radius: 3px;
  align-items: center;
}

.highlight-text {
  color: var(--orange50);
}

hero-text strong,
h1 {
  font-size: 2rem;
  color: var(--gray10);
  font-weight: 600;
}

.subtext {
  color: var(--gray15);
  font-size: 1.5rem;
  /* text-align: center;   */
  font-weight: 500;
  /* line-height: 50px; */
}
.sub {
  color: var(--gray15);
  font-size: 0.9rem;
  font-weight: 400px;
}

.buttons {
  margin: 2rem;
}

.explore,
.pricing {
  padding: 10px;
  margin-right: 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.explore {
  background-color: var(--orange50);
  color: white;
}
.pricing {
  background-color: var(--white95);
}

@media only screen and (max-width: 320px) {
  .hero-text {
    border-radius: 5px;
    padding: 1rem 2rem;
    padding-top: 0.5rem;
    margin-right: 5rem;
    margin-left: 5rem;
    align-items: center;
  }

  h1 {
    font-size: 1rem;
  }

  .hero-text h1 span {
    /* padding: 5rem; */
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    margin: 1rem;
    font-size: 1rem;
    border-radius: 2px;
    align-items: center;
  }

  .explore,
  .pricing {
    padding: 5px;
  }
}

.hero-image {
  max-width: 100%;
  height: auto;
}

.responsive-image {
  width: 100%;
  height: auto;
}

/* Max-width 600px */
/* @media only screen and (max-width: 600px) {
  .hero-container {
    max-width: 100%;
    padding: 5rem;
    padding-top: 5rem;
    padding-right: 2.5rem;
  }

  .hero-text h1 {
    font-size: 1rem;
  }

  .subtext {
    font-size: 1rem;
  }

  .sub {
    font-size: 0.8rem;
  }
} */

/* Min-width 600px and Max-width 768px */
/* @media only screen and (min-width: 600px) and (max-width: 768px) {
  .hero-container {
    max-width: 100%;
    padding: 5rem;
    padding-top: 5rem;
    padding-right: 2.5rem;
  }

  .hero-text h1 {
    font-size: 3.5rem;
  }

  .subtext {
    font-size: 1.2rem;
  }

  .sub {
    font-size: 0.9rem;
  }
}  */

/* Min-width 768px and Max-width 992px */
/* @media only screen and (min-width: 768px) and (max-width: 992px) {
  .hero-container {
    max-width: 100%;
    padding: 7rem;
    padding-top: 7rem;
    padding-right: 3.5rem;
  }

  .hero-text h1 {
    font-size: 4.5rem;
  }

  .subtext {
    font-size: 1.3rem;
  }

  .sub {
    font-size: 1rem;
  }
}

/* Min-width 992px and Max-width 1200px */
/* @media only screen and (min-width: 992px) and (max-width: 1200px) {
  .hero-container {
    max-width: 100%;
    padding: 8rem;
    padding-top: 8rem;
    padding-right: 4rem;
  }

  .hero-text h1 {
    font-size: 5rem;
  }

  .subtext {
    font-size: 1.4rem;
  }

  .sub {
    font-size: 1.1rem;
  }
} */

/* Min-width 1200px */
/* @media only screen and (min-width: 1200px) {
  .hero-container {
    max-width: 1200px;
    padding: 10rem;
    padding-top: 10rem;
    padding-right: 5rem;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .subtext {
    font-size: 1.5rem;
  }

  .sub {
    font-size: 0.9rem;
  }
} */
