/* Navbar styles */
.navbar {
  /* background-color: var(--white); Use custom white color */
  color: var(--gray15); /* Use custom darker gray color */
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  margin-top: 20px;
}

/* Navbar container */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  /* margin-top: ; */
}

/* Logo styles */
/* .logo {
 width:;
} */

/* .logo a {
  color: var(--gray15); /* Use custom darker gray color 
  text-decoration: none;
} */

/* Hamburger menu icon */
.menu-toggle {
  display: none;
}

/* Navigation links */
.nav-links {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 25rem;
}

.nav-links {
  display: inline-block; /* Ensure elements are displayed as blocks */
  color: var(--gray15); /* Use custom darker gray color */
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  margin: 0.5rem; /* Add margin around the elements */
  padding: 0.5rem 1rem; /* Add padding inside the elements */
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}
.logo {
  width: 40%;
}

.nav-links nav:hover {
  background-color: var(--orange50);
  color: var(--white95);
}

/* Action buttons */
.nav-actions {
  display: flex;
  align-items: center;
}

.button {
  background-color: var(--white95); /* Use custom white color */
  color: var(--gray15); /* Use custom darker gray color */
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  margin-left: 1rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--orange50);
  cursor: pointer;
  color: var(--white95);
}

/* Responsive styles */
@media (max-width: 768px) {
  /* Hide navigation links and action buttons on smaller screens */
  .nav-links {
    display: none;
  }

  /* Adjust padding and layout for smaller screens */
  .navbar {
    padding: 1rem;
  }

  .navbar-container {
    flex-direction: column;
  }

  .logo {
    margin-bottom: 1rem;
  }

  /* Show navigation links when menu is toggled */
  .nav-links.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--white); /* Use custom white color */
    padding: 1rem;
    border-top: 1px solid var(--gray20); /* Use custom darker gray color */
  }

  .nav-links.show li {
    margin: 0;
  }

  .nav-links.show a {
    color: var(--gray15); /* Use custom darker gray color */
  }
}
