.container {
  display: flex;
  justify-content: center;
  /* max-width: 75rem; */
  align-items: center;
  top: 0;
  /* position: fixed; */
  margin: 1rem;
  /* padding: 25rem; */
}

.column {
  display: flex;
  /* justify-content: space-between; */
}

.logo {
  border-radius: 4px;
  background-color: var(--white95);
  /* margin-right: 20px;  */
  justify-content: center;
}

.logo img {
  width: 7rem;
}

/* Responsive styles for max-width: 768px */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: row; /* Stack items vertically */
    align-items: center; /* Center items vertically */
  }

  .column {
    flex-direction: row; /* Stack items vertically */
    align-items: center; /* Center items vertically */
  }
}

/* Responsive styles for max-width: 450px */
@media only screen and (max-width: 450px) {
  .logo img {
    width: 2rem; /* Decrease logo size for smaller screens */
  }
}
