/* PricingPage.css */

.pricing-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  padding: 30px 40px;
  margin: 30px 90px;
  border-radius: 6px;
  border: none;
}

.pricing-card {
  background-color: var(--white95);
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
  padding: 40px;
  border-radius: 6px;
  text-align: center;
}

.plan {
  background-color: var(--orange90);
  border-radius: 6px;
  padding: 10px;
}

.price {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px;
}

.price span {
  font-size: x-small;
  font-weight: 400;
}

.feature-heading {
  margin: 15px;
  justify-content: center;
  display: flex;
}

.features ul,
li,
h6,
button {
  border-radius: 6px;
  background-color: var(--white);
  margin: 10px;
  padding: 10px 0px;
}

.icon {
  color: var(--gray15);
  border-radius: 6px;
  background-color: var(--orange90);
  padding: 8px;
  margin: 4px;
}

.features-list {
  list-style-type: none;
  padding: 0;
  text-align: left;
  /* border-radius: 6px;
  border: var(--white); */
}

.features-list li {
  color: var(--gray30);
  margin-bottom: 10px;
  font-size: 15px;
  align-items: left;
  justify-content: left;
}

.get-started-button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin: 0px;
  border-radius: 0;
  border-bottom-right-radius: ;
}

.get-started-button:hover {
  background-color: var(--white99);
  color: var(--gray15);
}
