* {
  font-family: var(--font);
  top: 0;
  position: relative;
  /* background-color: var(--white95); */
}

.App {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* @media (prefers-reduced-motion: no-preference)  */

@media (max-width: 768px){
*{
  font-size: 18px;
}
}

/* @media (max-width: 991px){
*{
  font-size: 30px;
}
} */

@media (max-width: 450px){
*{
  font-size: 14px;
}
}